@font-face {
font-family: "Halogen";
src: url("../fonts/Halogen.ttf");
}

@font-face {
font-family: "RifficFree-Bold";
src: url("../fonts/RifficFree-Bold.ttf");
}

* {
	margin: 0;
	padding: 0px;
	border:0;
}

html{
	scroll-behavior: smooth;
	position: relative; 
	min-height: 100vh; 
}

.home-bg {
	background-image: url("../graphics/bg.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	min-height: 100vh; 
}

@media only screen and (max-width: 1200px){
	.home-bg {
		background-image: url("../graphics/bg\(mobile\).jpg");
		transform: translateZ(0px);
		overflow-x: hidden;
		overflow-y: scroll;
		perspective: 8px;
		perspective-origin: 0%;
	}

	body:after{
		position:fixed; /* stretch a fixed position to the whole screen */
		top:0;
		height:100vh; /* fix for mobile browser address bar appearing disappearing */
		left:0;
		right:0;
		z-index:-1; /* needed to keep in the background */
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
  }
} 

.team-bg {
	background-image: url("../graphics/Club_festival.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.characters-bg {
	background-image: url("../graphics/bg.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.soundtrack-bg {
	background-image: url("../graphics/bg.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.downloads-bg {
	background-image: url("../graphics/Club_festival.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-attachment: scroll;
}

.navbar {
	background-color: hsla(220, 93%, 59%, 0.6);
	font-size: 2em;
	font-family: RifficFree-Bold;
	display: inline-flex;
	justify-content: center;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}

@media only screen and (max-width: 1200px){
	.navbar {
		font-size: 1.2em;
	}
} 

#navLogo {
	margin-right: 20px;
}

@media only screen and (max-width: 1200px){
	#navLogo {
		width: 15%;
	}
} 

.navbar a {
	color: hsl(192, 100%, 89%);
	text-decoration: none;
	margin-top: 10px;
	padding: 1%;
}

#smooth {
	scroll-behavior: smooth;
}

a.active {
	color: hsl(290, 0%, 100%);
	text-decoration: none;
}

#banner {
	text-align: center;
	box-sizing: border-box;
	overflow: hidden;
}

#banner video {
	position: relative; /* could be absolute if needed */
	z-index: -1;
    bottom: 1px;
}

.dokiBanner {
	position: absolute;
	width: 100%;
}

#bgVideo {
	width: 100%;
}

#mainHeader {
	padding: 8%;
}

#aboutContent {
	margin: auto;
	text-align: center;
	padding: 2%;
	width: 60%;
}

@media only screen and (max-width: 1200px){
	#aboutContent {
		width: 100%;
	}
} 

.video-container {
	position: relative;
    padding-bottom: 56.25%;
    padding-top: 15px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

#modDescription {
	padding-top: 5%;
	padding-bottom: 5%;
	width: 100%;
}

#features {
	padding-top: 5%;
}

#featureList {
	padding-top: 8%;
}

#bottomRow {
	display: flex;
	justify-content: space-between;
	padding-top: 2%;
	width: 100%;
}

#monEmi {
	width: 30%;
}

#sakMomc {
	width: 30%;
}

@media only screen and (max-width: 1200px){
	#bottomRow {
		display: inline-block;
		justify-content: center;
		margin-bottom: 10%;
		width: 80%;
		margin-left: 10%;
	}

	#monEmi {
		height: 0;
		visibility: hidden;
		width: 0;
	}

	#sakMomc {
		height: 0;
		visibility: hidden;
		width: 0;
	}
}

@media only screen and (max-width: 1200px){
	#bottomRow img {
		width: 100%;
	}
	
}

#credits {
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
}

@media only screen and (max-width: 1200px){
	#credits {
		padding-bottom: 10%;
	}
} 

.position {
	font-family: Halogen;
	font-size: 4em;
	color: hsl(290, 0%, 100%);
}

.nicks {
	text-align: center;
	padding-bottom: 3%;
	list-style-type: none;
	font-family: Halogen;
	font-size: 2em;
	color: hsl(290, 0%, 100%);
	text-align: center;
}

#mainCharacters {
	text-align: center;
	display: inline-block;
	clear: both;
	 width:100%;
}

.castHeader {
	padding-top: 2%;
	padding-bottom: 1%;
	font-style: bold;
	text-align: center;
	font-size: 6em;
	text-shadow: 5px 4px 35px black;
	font-family: RifficFree-Bold;
	color: hsl(290, 0%, 100%);
}

.mainCast {
	float: left;
	width: 20%;
	margin-left:10%;
	transition: all .2s ease-in-out;
	-webkit-filter: brightness(50%);
   filter: brightness(50%);
   cursor: pointer;
}


.mainCast:hover { 
	transition: all .3s ease-in-out;
   -webkit-filter: brightness(100%);
   filter: brightness(100%);
}

.mainDesc {
	font-family: RifficFree-bold;
	-webkit-text-stroke: 1px black;
	color: hsl(290, 0%, 100%);
	font-size: 3em;
	text-align: center;
}

@media only screen and (max-width: 1200px){
	.mainCast {
		width:33%;
		margin-left:0%;
	}
} 

@media only screen and (max-width: 1200px){
	.mainDesc {
		font-size: 1.75em;
	}
} 

  
  .modal {
	display: none; 
	position: fixed; 
	z-index: 1;
	padding-top: 5%; 
	left: 0;
	top: 0;
	width: 100%;
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.9);
  }
  
  .modal-content {
	margin: auto;
	display: block;
	width: 70%;
  }

  .modal-content{
	animation-name: zoom;
	animation-duration: 0.6s;
  }
  
  @keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 1200px){
	.modal-content {
	  width: 100%;
	  margin-top: 15%; 
	}
  }

#sideCharacters {
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
}

#sideChars {
	width:60%;
	padding-bottom: 2%;
}

@media only screen and (max-width: 1200px){
	#sideChars {
	  width: 90%;
	  padding-bottom: 10%;
	}
  }


#soundtrackContent {
	text-align: center;
	margin-left: 18%;
	align-content: center;
}

#albumCover {
	width: 30%; 
	padding: 2%; 
	margin-right: 20%; 
	margin-top: 5%;
}

.bandcamp {
	padding: 5%;
	float: left;
}

#downloadButton {
	width: 30%; 
	margin-right: 20%;
}

@media only screen and (max-width: 1200px){
	#soundtrackContent {
		display: block;
		margin-left: 0%;
	}
  }

  @media only screen and (max-width: 1200px){
	.bandcamp {
	  float: none;
	  width: 100%;
	  height: 700px;
	}
  }

  @media only screen and (max-width: 1200px){
	#albumCover {
		width: 100%; 
		margin-right: 0%; 
	}

	#downloadButton {
		width: 90%; 
		margin-right: 0%;
		margin-top: 1%;
		margin-bottom: 10%;
	}
  }



@media only screen and (min-width: 1300px){
	.bandcamp {
	  width: 580px;
	  height: 800px;
	}
}

footer {
	background-color: black;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

#footerMessage {
	color: hsl(290, 0%, 100%);
	font-family: Halogen;
	font-size: 1em;
	margin-bottom: 0;
}

#footerMessage a {
	color: hsl(290, 0%, 100%);
	text-decoration: none;
	
}

@media only screen and (max-width: 1200px){
	#footerMessage {
		font-size: 0.5rem;
	}
} 